* {
  box-sizing: border-box;
}

/* create custom CSS variables (also called custom properties) and apply them to the root of the page, making them accessible to all other CSS */
:root {
  /* declare a variable with `--` syntax */
  --teal-light: #4dbcbc;
  --teal-dark: #029696;
  --background-teal: #70caca;
  --light: #fff;
  --card-border: 2px solid var(--teal-light)
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero-card {
  border: var(--card-border);
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  min-height: auto;
  display: flexbox;
}

.card {
  border: var(--card-border);
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  min-height: auto;
  display: flexbox;
}

h1 {
  font-size: 80px;
  margin-left: 50px;
  color: var(--teal-dark);
  text-wrap: nowrap;
}

h2 {
  font-size: 60px;
  line-height: 100%;
  text-align: right;
  color: var(--teal-dark);
}

h3 {
  padding: 50px 0px;
  margin: 10px 50px;
  text-align: center;
  color: var(--teal-light);
  font-size: 25px;
  text-wrap: nowrap;
}

h4 {
  font-size: 30px;
  color: #fff;
  padding: 5px;
  text-wrap: nowrap;
  margin: 10px;
  align-items: end;
}

h5 {
  font-size: 20px;
  color: var(--teal-light);
  padding: 5px;
  text-wrap: nowrap;
  margin: 10px;
}

h6 {}

p {
  margin: 20px;
  text-align: left;
  text-wrap: wrap;
}

a {
  margin: 10px 50px;
  text-align: center;
  color: var(--teal-light);
  font-size: 25px;
  text-wrap: nowrap;
}

a.work {
  text-decoration: none;
  color: black;
  font-size: 16px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-teal);
  padding: 20px;
  width: 100vw;
}

header {
  text-align: right;
  background: var(--teal-dark);
  color: #fff;
  width: 100vw;
}

.navigation {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  width: 80%;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.hero-banner {
  display: flex;
  flex-direction: row;
  background-image: url("../images/02-portfolio-3.jpg");
  padding: 20px;
  width: 100vw;
}

#main-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  grid-template-areas:
    "about about-content"
    "work work-content"
    "contact contact-content"
    "cv cv-content";
  justify-content: center;
  align-items: center;
}

.section-heading {
  padding: 30px;
  border-right: 5px solid var(--teal-light);
}

#about {
  grid-area: about;
}

#about-content {
  grid-area: about-content;
  display: flex;
  flex-direction: row;
  text-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-right: 50px;
}

#work {
  grid-area: work;
}

#work-content {
  grid-area: work-content;
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding: 10px;
}

#contact {
  grid-area: contact;
}

#contact-content {
  grid-area: contact-content;
  display: inline-block;
}

#cv {
  grid-area: cv;
}

#cv-content {
  grid-area: cv-content;
}

@media (max-width: 820px) {
  .section-heading {
    font-size: 30px;
    padding: 15px;
  }

  #main-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "about"
      "about-content"
      "work"
      "work-content"
      "contact"
      "contact-content"
      "cv"
      "cv-content";
    justify-content: center;
    align-items: center;
  }

  .section-heading {
    padding: 0px;
    border-right: 0px solid var(--teal-light);
  }

  h2 {
    font-size: 40px;
    line-height: 100%;
    text-align: left;
    color: var(--teal-dark);
  }

  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projects {
    flex-direction: column;
  }

}

@media screen and (max-width: 820px) {
  #work-content {
    grid-area: work-content;
    flex-direction: column;
  }

  .navigation {
    flex-direction: row;
    justify-content: center;
    padding: 20px;
  }

  h2 {
    font-size: 40px;
    line-height: 100%;
    text-align: left;
    color: var(--teal-dark);
  }
}