* {
  box-sizing: border-box;
}

/* create custom CSS variables (also called custom properties) and apply them to the root of the page, making them accessible to all other CSS */
:root {
  /* declare a variable with `--` syntax */
  --teal-light: #4dbcbc;
  --teal-dark: #029696;
  --background-teal: #70caca;
  --light: #fff;
  --card-border: 2px solid var(--teal-light)
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.projects {
  /* flex: 1; */
  background-color: var(--white);
  /* padding: 50px; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  max-width: 1200px;
  margin: 40px;
  display: grid;
  gap: 1rem;
}

.card {
  border: var(--card-border);
  border-radius: 10px;
  padding: 10px;
  /* margin: 40px; */
  width: fit-content;
  min-height: auto;
  display: flexbox;
}

/* 
.card > header {
  border-radius: 50px 50px 0px 0px;
  padding: 20px;
} */

/* .card > p {
  text-align: center;
} */

/* .card > img {
  width: 100%;
} */

h1 {
  /* text-align: center; */
  font-size: 80px;
  margin-left: 50px;
  color: var(--teal-dark);
  text-wrap: nowrap;
}

h2 {
  font-size: 60px;
  /* margin-left: 2px; */
  line-height: 100%;
  text-align: right;
  color: var(--teal-dark);
  /* padding: 10px; */
}

h3 {
  padding: 50px 0px;
  margin: 10px 50px;
  text-align: center;
  color: var(--teal-light);
  font-size: 25px;
  text-wrap: nowrap;
}

h4 {
  font-size: 30px;
  color: #fff;
  padding: 5px;
  text-wrap: nowrap;
  margin: 10px;
  align-items: end;
}

h5 {
  font-size: 20px;
  color: var(--teal-light);
  padding: 5px;
  text-wrap: nowrap;
  margin: 10px;
}

h6 {}

p {
  margin: 20px;
  text-align: left;
  text-wrap: wrap;
}

a {
  padding: 50px 0px;
  margin: 10px 50px;
  text-align: center;
  color: var(--teal-light);
  font-size: 25px;
  text-wrap: nowrap;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--background-teal);
  padding: 20px;
  width: 100vw;
}

header {
  /* padding: 40px; */
  /* width: fit-content; */
  text-align: right;
  background: var(--teal-dark) color: #fff;
  width: 100vw;
}


.navigation {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
  width: 80%;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.page-section {
  /* flex-wrap: nowrap; */
}

.hero-banner {
  display: flex;
  flex-direction: row;
  /* width: fit-content; */
  background-image: url("../images/02-portfolio-3.jpg");
  padding: 20px;
  width: 100vw;
}

#main-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  grid-template-areas:
    "about about-content"
    "work work-content"
    "contact contact-content"
    "cv cv-content";
  justify-content: center;
  align-items: center;
}

.section-heading {
  /* display: flex; */
  padding: 30px;
  border-right: 5px solid var(--teal-light);
}

#about {
  grid-area: about;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  padding: ; */
}

#about-content {
  grid-area: about-content;
  display: flex;
  flex-direction: row;
  text-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-right: 50px;
}

#work {
  grid-area: work;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  padding: ; */
}

#work-content {
  grid-area: work-content;
  display: flex;
  flex-direction: row;
}

#contact {
  grid-area: contact;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  padding: ; */
}

#contact-content {
  grid-area: contact-content;
  display: inline-block;
}

#cv {
  grid-area: cv;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  padding: ; */
}

#cv-content {
  grid-area: cv-content;
}

/* Media Queries */

/* @media (max-width: 768px) {
  .section-heading {
    font-size: 16px;
  }
} */

/* For screens smaller than 768px wide */
@media (max-width: 768px) {
  .section-heading {
    font-size: 30px;
    padding: 15px;
  }

  #main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
  }

  h2 {
    font-size: 40px;
    line-height: 100%;
    text-align: left;
    color: var(--teal-dark);
  }

  .navigation {
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  #work-content {
    grid-area: work-content;
    flex-direction: column;
  }

  .navigation {
    flex-direction: row;
  }

  h2 {
    font-size: 40px;
    line-height: 100%;
    text-align: left;
    color: var(--teal-dark);
  }
}